<div class="wrapper">
  <div class="banner-show">
    <div class="yellow-count">
      <%= @list.movies.count %> <%=  @list.movies.count==1? "movie" : "movies" %>
    </div>
    <h1><%= @list.name %></h1>
  </div>
  <div class="container">
    <div class="movies-wrapper">
      <%# <div class="movies-heading"> %>
          <%# Below code is for when there is a bookmarkas/new template %>
          <%# <%= link_to "add a movie", new_list_bookmark_path(@list) %>
      <%# </div> %>
      <div class="movies-content">
        <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <div class="movie-card-show" data-aos="fade-up">
            <%= image_tag movie.poster_url, alt: 'image for movie', class: 'img-movie-cover' %>
            <div class="movie-card-content">
              <div class="movie-card-content-head">
                <div class="movie-card-content-title"><%= movie.title %></div>
                <div class="movie-card-content-rating">&nbsp;&#8226; <%= movie.rating %> </div>
                <div class="movie-card-content-star">&nbsp;<i class="fa-solid fa-star"></i></div>
              </div>
              <div class="movie-card-content-overview"><%= movie.overview %></div>
              <div class="quote-and-delete">
                <div class="quote"><i class="fa-solid fa-quote-left"></i>&nbsp;Some quote here.</div>
                <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Sure?" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render "add_movie_form" %>
      <%# Code below is for rendering the reviews and review form  %>
      <%# <div class="reviews-show"> %>
        <%# <%= render 'reviews', list: @list %>
        <%# <%= render 'add_review_form', list: @list, review: @review %>
      <%# </div> %>
    </div>
  </div>
</div>
